body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.resume {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
}

.header .headline {
    margin: 5px 0;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #565656;
    padding-bottom: 5px;
}

.experience .perusahaan, .kampus {
    font-size: 17px;
    font-weight: bold;
}

.experience .posisi, .jurusan {
    margin-top: -12px;
}